<template>
  <div class="hello">
    <img id="test-image" src="../assets/yona.jpg"/>
  </div>
</template>

<script>
// import BreathingHalftone from '../breathing-halftone.pkgd'
export default {
  name: 'HelloWorld',
  data() {
    return {
      imageEdit: '',
      BreathingHalftone: null,
      defaultOption: {
        dotSize: 1/40,
        dotSizeThreshold: 0.05,
        initVelocity: 0.02,
        oscPeriod: 3,
        oscAmplitude: 0.2,
        isAdditive: false,
        isRadial: false,
        channels: [ 'red', 'green', 'blue' ],
        isChannelLens: true,
        friction: 0.06,
        hoverDiameter: 0.3,
        hoverForce: -0.02,
        activeDiameter: 0.6,
        activeForce: 0.01
      }
    }
  },
  methods: {
    renderDotImage(imageSelector, option) {
      const image = document.querySelector(imageSelector)
      new this.BreathingHalftone( image, option);
    }
  },
  created() {
     this.BreathingHalftone = window.BreathingHalftone
  },
  mounted() {
    // init halftone
    const option1 = this.defaultOption
    option1.hoverDiameter = 0.7
    this.renderDotImage('img', option1)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
